/* Style for <p> tags */
#show_name_desc p {
  font-size: 16px; /* text-[16px] */
  margin-top: 1rem; /* mt-4 */
  line-height: 26px; /* leading-[26px] */
  text-align: justify;
}

/* Style for <h3> tags */
#show_name_desc h3 {
  font-size: 1.875rem; /* text-3xl */
  line-height: 2.25rem; /* line height for 3xl */
  margin-top: 1.5rem; /* mt-6 */
  color: #000000; /* text-secondary */
  font-weight: 600; /* font-semibold */
}

/* Style for <ul> tags */
#show_name_desc ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* Style for <li> tags */
#show_name_desc li {
  padding-left: 1em;
  text-indent: -1em;
}

#show_name_desc li:before {
  content: "◆";
  font-size: 21px;
  padding-right: 10px;
  color: #b0cb1f;
}

/* Style for <div> inside <li> (DiamondSvg container) */
#show_name_desc li > div {
  margin-top: 0.25rem; /* mt-1 */
}
