@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Jost-900";
  src: url("/Oswald-Light.ttf");
}

@font-face {
  font-family: "Jost-700";
  src: url("/Oswald-Light.ttf");
}

@font-face {
  font-family: "Jost-600";
  src: url("/Oswald-Light.ttf");
}

@font-face {
  font-family: "Jost-400";
  src: url("/Oswald-Light.ttf");
}

.cke_notifications_area {
  display: none;
}

@layer base {
  :root {
    --background: 255, 100%, 100%; /*#FDF3ED*/
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 69, 74%, 46%; /*#B0CB1F*/
    --primary-foreground: 0 0% 98%;
    --secondary: 0, 0%, 0%; /* #986D3F; */
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Jost-400";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}

.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Tiptap Editor Styling */
.ProseMirror {
  outline: none;
}

.ProseMirror ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 1.5rem; /* Add spacing for bullets */
}

.ProseMirror ul li {
  position: relative;
  padding-left: 1.5rem; /* Add space for custom bullets */
}

.ProseMirror ul li::before {
  content: "â—"; /* Unicode for a solid red circle */
  color: red;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0.25rem; /* Align the bullet vertically */
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.621);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  height: 100%;
  background: url("../../public/hero-bg.gif") no-repeat center center;
  mix-blend-mode: darken;
  background-size: cover;
  z-index: -2;
}

.hero h2 {
  position: relative;
  line-height: 1.3;
  z-index: 2; /* Ensures text appears above the pseudo-element */
}

.product-bg {
  position: relative;
  overflow: hidden;
}

.product-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../public/bg-products.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.product-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.92),
    rgba(0, 0, 0, 0.94),
    rgba(10, 17, 4, 0.93)
  );
  z-index: -1;
}

.heading-font {
  font-family: "Jost-900";
  font-optical-sizing: auto;
  font-style: normal;
}

.heading-font-700 {
  font-family: "Jost-700";
  font-optical-sizing: auto;
  font-style: normal;
}

.heading-font-600 {
  font-family: "Jost-600";
  font-optical-sizing: auto;
  font-style: normal;
}

.footer-list > * {
  margin-top: 16px !important;
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 0.75px ridge whitesmoke;
}

.shadow-one {
  box-shadow: 0 0 42px rgba(0, 0, 0, 0.36);
}

.shadow-two {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.156);
}

.queryform {
  position: relative;
  overflow: hidden;
  height: 600px; /* Default height for larger screens */
}

.queryform::before {
  content: "";
  position: absolute;
  filter: grayscale(70%);
  top: 0;
  left: 0;
  width: 100%; /* Set width to 100% for responsiveness */
  height: 100%;
  background: url("../../public/form-bg.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

@media (max-width: 768px) {
  .queryform {
    height: auto; /* Allow height to adjust based on content */
    padding: 20px; /* Add padding for better spacing */
  }

  .queryform::before {
    background-size: cover; /* Ensure the image scales properly */
    background-position: center; /* Center the image on smaller screens */
  }
}

@media (max-width: 480px) {
  .queryform {
    height: auto; /* Adjust for very small screens */
    padding: 16px; /* Smaller padding for narrow screens */
  }

  .queryform::before {
    background-size: contain; /* Adjust background size for small screens */
    background-position: center;
  }
}

.service-bg {
  position: relative;
  overflow: hidden;
  height: 480px;
}

.service-bg::before {
  content: "";
  position: absolute;
  filter: grayscale(70%);
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
  height: 100%;
  background: url("../../public/photo1-ourwork.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.service-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdf3ed2c;
  z-index: -1;
}
.featured-bg {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.featured-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: grayscale(70%);
  opacity: 1;
  height: 100%;
  background: url("../../public/portfolio-bg.png");
  background-blend-mode: darken;
  background-size: cover;
  z-index: -2;
}

.portfolio-img {
  background-color: transparent;
  transition: all 0.3s ease-in-out; /* Add a transition effect */
  position: relative; /* Ensure the ::after is positioned relative to the image */
  display: block; /* Ensure the Image has block display for proper sizing */
}

.portfolio-img::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  border-radius: 12px;
  width: 100%; /* Cover the entire image width */
  height: 100%; /* Cover the entire image height */
  background: #fdf3ed;
  opacity: 0;
  z-index: 4;
}

.portfolio-img:hover::after {
  opacity: 0.9;
}

.portfolio-img .hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-img:hover .hover-content {
  opacity: 1;
}

.booth-design-bg {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.booth-design-bg::before {
  content: "";
  position: absolute;
  filter: grayscale(30%);
  top: 0;
  opacity: 0.3;
  left: 0;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  background: url("../../public/booth-design-bg.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.booth-design-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000076;
  z-index: -1;
}

.trade-show-bg {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.trade-show-bg::before {
  content: "";
  position: absolute;
  filter: grayscale(70%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../public/trade-show-bg.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.detail-trade-show-bg {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.detail-trade-show-bg::before {
  content: "";
  position: absolute;
  top: 0;
  filter: grayscale(70%);
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../public/trade-show-bg.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

/* .shadow-two {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

.us-bg {
  position: relative;
  overflow: hidden;
}

.us-bg::before {
  content: "";
  position: absolute;

  top: -400px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../public/us1.svg") no-repeat center center;
  z-index: -2;
}

.us-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffda;
  z-index: -1;
}

.single-location-bg {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.single-location-bg::before {
  content: "";
  position: absolute;
  top: 0;
  filter: grayscale(70%);
  left: 0;
  width: 100%;
  filter: grayscale(70%);
  height: 100%;
  background: url("../../public/location-detail-bg.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fadeInOut {
  animation: fadeInOut 1s ease-in-out;
}

[data-ut-element="button"] {
  background-color: transparent !important;
  color: #000000 !important;
  font-weight: 500 !important;
  border-radius: 6px !important;
  border-width: 1px !important;
  border-color: #000000 !important;
  width: 100% !important;
  height: 2.15rem !important;
}
