@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/optima");
@import url("https://db.onlinewebfonts.com/c/1f6ff2bc78822f67fe0ffe6dabf9b905?family=Nacelle+SemiBold");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Doto:wght@100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@layer base {
  :root {
    --background: 22, 80%, 96%; /*#FDF3ED*/
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 69, 74%, 46%; /*#B0CB1F*/
    --primary-foreground: 0 0% 98%;
    --secondary: 332 38% 26%; /* #5D2A42; */
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Funnel Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}

.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Tiptap Editor Styling */
.ProseMirror {
  outline: none;
}

.ProseMirror ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 1.5rem; /* Add spacing for bullets */
}

.ProseMirror ul li {
  position: relative;
  padding-left: 1.5rem; /* Add space for custom bullets */
}

.ProseMirror ul li::before {
  content: "â—"; /* Unicode for a solid red circle */
  color: red;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0.25rem; /* Align the bullet vertically */
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.6;
  height: 100%;
  background: url("../../public/hero-bg.gif") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(237, 223, 213, 0.4), #fdf3ed);
  z-index: -1;
}

.hero h2 {
  position: relative;
  line-height: 1.3;
  z-index: 2; /* Ensures text appears above the pseudo-element */
}

.product-bg {
  position: relative;
  overflow: hidden;
}

.product-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../public/bg-products.jpeg") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.product-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 30, 47, 0.93);
  z-index: -1;
}

.heading-font {
  font-family: "Optima", sans-serif;
}

.footer-list > * {
  margin-top: 16px !important;
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 0.75px ridge whitesmoke;
}

.shadow-one {
  box-shadow: 0 0 42px rgba(93, 42, 66, 0.36);
}

.queryform {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.queryform::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1470px;
  height: 100%;
  background: url("../../public/photo1.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.queryform::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 30, 47, 0.8);
  z-index: -1;
}

.service-bg {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.service-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
  height: 100%;
  background: url("../../public/photo1-ourwork.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.service-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(237, 223, 213, 0.4), #fdf3ed);
  z-index: -1;
}
